<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/70903ff595.js" crossorigin="anonymous"></script>
    <title>product</title>
</head>

<body>
    <header>
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
          <div class="search-bar">
            <form class="form-inline" action="/product/search" method="POST">
                <input class="form-control" type="text" name="productName" id="">
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        
        <div class="nav-area">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    <div> 
        <table class="table table-dark " width="50%" border="1">
            <tr class="title">
                <td>ID</td>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Image</td>
                <td>Update or Delete</td>
            </tr>
            {{# each product}}
            <tr>
                <td>{{_id}}</td>
                <td>{{ProductName}}</td>
                <td>{{Category}}</td>
                <td>{{Price}}</td>
                <td> <img src='/product/photos/{{_id}}' alt="" width="110px""></td>
                <td>
                    <a href="/product/edit?id={{_id}}"><input class="btn btn-info" type="submit" value="Update"></a>
                    <a href="/product/delete?id={{_id}}"><input class="btn btn-danger" type="button" value="Delete"></a>
                </td>
            </tr>
            {{/each}}
        </table>
        <a href="/product/insert"><button type="button" class="btn btn-success">Create a new product</button></a>
    </div>
    </div>
    </header>
</body>

</html>